.card-foto {
    display: flex;
    align-content: center;
    justify-content: center;
}

ul.browser-default {
    list-style-type: initial !important;
}

ul.browser-default li {
    list-style-type: initial !important;
}