@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.title {
    font-family: 'Indie Flower', cursive, 'Ubuntu', 'Roboto', sans-serif;
}

.fotoIndividual {
    display: flex;
    position: relative;
    justify-content: center;
}