@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.title {
    font-family: 'Indie Flower', cursive, 'Ubuntu', 'Roboto', sans-serif;
}

.fotoIndividual {
    display: flex;
    position: relative;
    justify-content: center;
}

.confirm {
    margin-bottom: 15px !important;
}

.agradecimento {
    font-style: italic;
    font-size: 16px;
    font-weight: 600;
}

.explicacaoCenter {
    display: flex;
    justify-content: center;

    blockquote {
        margin: 0 0 15px;
        font-style: italic;
    }
}