.breadcrumb {
    color: black;
    display: inline-flex;
}

.breadcrumb::before {
    color: black;
}

.breadcrumb:last-child {
    color: black;
}

.breadcrumb-nav {
    box-shadow: unset;
}

.breadcrumb i.material-icons {
    float: none;
}