Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    amazon-linux-extras: []

container_commands:
  0_setup:
    command: "sudo amazon-linux-extras install epel -y"
  1_installLibs:
    command: "sudo yum -y install python3-tools augeas-libs python3-pip"
  2_venv:
    command: "sudo pip3 install virtualenv; sudo python3 -m venv /opt/certbot/; sudo /opt/certbot/bin/pip install --upgrade pip"
  3_installcertbot:
    command: "sudo /opt/certbot/bin/pip install certbot certbot-apache"
  4_linkcertbot:
    command: "sudo ln -sf /opt/certbot/bin/certbot /usr/bin/certbot"
  5_getcert:
    command: "sudo certbot certonly --non-interactive --email ${email} --agree-tos --standalone --domains ${certdomain} --keep-until-expiring --pre-hook \"sudo service nginx stop\" --post-hook \"sudo service nginx start\""
  6_linkcertificate:
    command: "sudo ln -sf /etc/letsencrypt/live/${certdomain} /etc/letsencrypt/live/ebcert"
  7_restartnginx:
    command: "sudo service nginx restart"