.brand-logo {
  margin-left: 1.8rem;
}

.nav-wrapper {
  z-index: 1000 !important;
}

.sidenav {
  margin-top: 4.3rem !important;
  width: 250px;
  z-index: 1 !important;
}

.mt-1 {
  margin-top: 1rem;
}